/* .landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
} */

.title {
  color: #fff; ;
  font-size: 60px;
}
.btn_started {
  margin-top: 40px;
  padding: 40px;
  border-width: 1px;
  /* color: #fff; */
  width: 60%;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items:center ;
  height:80%;
  width: 100%;

}

.landing-content {
  flex: 1;
  padding: 20px; /* Adjust as needed */
  padding-left: 10rem;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjust as needed */
  height: 100%;
  width: 80%;
  padding-bottom: 20rem;
}

.image {
  max-width: 100% ;
  height: 50rem;
}
