.Infocard {
  width: 30%;
  height: 180px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
}
.info {
  margin-left: 10px;
}
.infoTitle {
  color:#3d3d3d;
  font-weight: 500;
  font-size: 20px;
}
.infoBottom {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-around;
  margin-top: 20px;
}
.infoBio {
  background-color: #a6df9c;
  outline: none !important;
  color: #46724e !important;
  border: none;
}
