.input_wrapper {
  width: 40%;
  /* background-color: red; */
  padding: 15px;
  margin-top: 15px;
  border-radius: 30px;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
}
.input {
  width: 95%;
  height: 100%;
  outline: none;
  border: none;
  border: '2px solid #2c2c2c';
  background-color: transparent;
}
.check {
  position: absolute;
  margin-right: 20px;
}
