.input_wrapper {
  width: 40%;
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
  border-radius: 30px;
  align-items: center;
}
.input {
  width: 95%;
  height: 100%;
  outline: none;
}
.check {
  position: absolute;
  margin-right: 20px;
}
