.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.headerWrapper {
  height: 60px;
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  justify-content: center;
}
.headerTitle {
  color: white !important;
}
.buttonTitle {
  color: white !important;
  padding: 10px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  margin-left: 10px;
}
.buttonTitle2 {
  color: white !important;
  margin-left: 10px;
  cursor: pointer;
}
